/* Main
 * ========================================================================== */

/* Button
 * -------------------------------------------------------------------------- */

.btn-primary {
  border-color: #0066bf;  /* hsb(208, 100%, 75%) */
  background-color: #0074d9; /* hsb(208, 100%, 85%) */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active:focus,
.btn-primary.active:hover {
  border-color: #005299; /* hsb(208, 100%, 60%) */
  background-color: #005fb3; /* hsb(208, 100%, 70%) */
}


/* Basic style
 * -------------------------------------------------------------------------- */

body {
  overflow-x: hidden;
}


/* Header */

.docs-header {
  margin-bottom: 0;
  border-color: #0066bf;
  background-color: #0074d9;
  color: #fff;
}

.docs-header .navbar-brand {
  color: #eee;
}

.docs-header .navbar-toggle {
  border-color: transparent;
  background-color: #0074d9;
}

.docs-header .navbar-toggle:hover,
.docs-header .navbar-toggle:focus {
  border-color: transparent;
  background-color: #0066bf;
}

.docs-header .navbar-collapse {
  border-color: #0066bf;
}

.docs-header .navbar-text {
  color: #ddd;
}

.docs-header .navbar-nav > li > a {
  color: #eee;
}


/* Jumbotron */

.docs-jumbotron {
  background-color: #fcfcfc;
}

.docs-jumbotron .version {
  font-size: 14px;
  color: #ccc;
}

.docs-carbonads-container {
  position: relative;
}

.docs-carbonads {
  max-width: 350px;
  padding: 15px;
  border: 1px solid #0074d9;
  border-radius: 4px;
  overflow: hidden;
}

.carbon-wrap {
  overflow: hidden;
}

.carbon-img {
  clear: left;
  float: left;
  display: block;
}

.carbon-text,
.carbon-poweredby {
  display: block;
  margin-left: 140px;
  text-decoration: none;
}

.carbon-text:hover,
.carbon-text:focus,
.carbon-poweredby:hover,
.carbon-poweredby:focus {
  text-decoration: none;
}

.carbon-text {
  color: #0074d9;
}

.carbon-poweredby {
  color: #999;
}

@media (min-width: 992px) {
  .docs-carbonads {
    position: absolute;
    right: 0;
    bottom: 5px;
  }
}


/* Content */

.img-container,
.img-preview {
  background-color: #f7f7f7;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 200px;
  max-height: 554px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 554px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -15px;
  margin-bottom: 10px;
}

.img-preview {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 263px;
  height: 148px;
}

.preview-md {
  width: 139px;
  height: 78px;
}

.preview-sm {
  width: 69px;
  height: 39px;
}

.preview-xs {
  width: 35px;
  height: 20px;
  margin-right: 0;
}

.docs-data > .input-group {
  margin-bottom: 10px;
}

.docs-data > .input-group > label {
  min-width: 80px;
}

.docs-data > .input-group > span {
  min-width: 50px;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: 5px;
  margin-bottom: 10px;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: 10px;
}

.docs-tooltip {
  display: block;
  margin: -6px -12px;
  padding: 6px 12px;
}

.docs-tooltip > .icon {
  margin: 0 -3px;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner,
.btn-toggle .tooltip-inner {
  white-space: nowrap;
}

.btn-toggle {
  padding: 6px;
}

.btn-toggle > .docs-tooltip {
  margin: -6px;
  padding: 6px;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -15px!important;
  }

  .btn-group-crop > .btn {
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn-group-crop .docs-tooltip {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  padding: 3px 20px;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}

.docs-diagram .modal-dialog {
  max-width: 352px;
}


/* Footer */

.docs-footer {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #0066bf;
  background-color: #0074d9;
  color: #ddd;
}

.docs-footer a {
  color: #eee;
}

.docs-footer a:hover,
.docs-footer a:focus {
  color: #fff;
}

.docs-footer a + a {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .back-to-top {
    float: right;
  }
}


/* Examples
 * -------------------------------------------------------------------------- */

.cropper-example-1 {
  max-height: 331px;
}

@media (min-width: 768px) {
  .cropper-example-1 {
    min-height: 305px;
  }
}

.cropper-example-1 > img,
.cropper-example-3 > img {
  max-width: 100%;
}

.cropper-example-3 {
  width: 100%;
  margin-top: 15px;
}


/* Google code prettify
 * -------------------------------------------------------------------------- */

.prettyprint {
  padding: 10px 15px !important;
  border: 1px solid #ddd !important;
}
